{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'myfirst.css' %}">
    <link rel="stylesheet" href="{% static 'myglobal.css' %}">
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <div class="layout_1">

      <div class='header'>
        {% include 'main_menu.html'  %}
      </div>

      <div class='content'>
        {% block content %} {% endblock %}
      </div>
      
      <div class='footer'>
        {% include 'footer.html' %}
      </div>

    </div>
  </body>
</html>
