# Python cache
__pycache__/
*.py[cod]

# Django stuff
*.log
db.sqlite3
media/
staticfiles/
.env

# Virtual environment
venv/
.venv/

# IDEs
.vscode/
.idea/

# Coverage / testing
htmlcov/
.coverage
.pytest_cache/
